

header nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

#map {
    height: 400px; /* Adjust the height of the map */
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 0;  /* Ensure it is behind other content but visible */
}

html, body {
  height: 100%;
  margin: 0;
  background: #000; /* Solid black background */
  color: #fff;
  font-family: 'Courier New', monospace;
  overflow: hidden; /* Ensures no scrolling */
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  
}

#welcome {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
  border-radius: 10px;
  z-index: 1; 
}

input[type="email"], button {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
}

button {
  background-color: #1f9541;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00b321;
}

#typing-effect {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, #22ab50, #13ff0b);
  -webkit-background-clip: text;
  color: transparent; /* Hide the text color, show the gradient */
  display: inline;
}

